/* styles/globals.css */

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Light theme variables */
:root {
  --background-color: #fff;
  --text-color: #000;
  --card-background-color: #f8f9fa;
  --card-header-background-color: #e9ecef;
  --card-border-color: #dee2e6;
}

/* Dark theme variables */
[data-theme='dark'] {
  --background-color: #080b26;
  --text-color: #fff;
  --card-background-color: #212135;
  --card-header-background-color: #2d2d48;
  --card-border-color: #1a537b;
}


